@media only screen and (max-width: 500px) {
  #visual-keyboard  {
    position: fixed;
    padding-bottom: 0px;
  }
}


:root {
  --cirdle_yellow:#c8b653;
  --cirdle_green:#6ca965;
  --cirdle_grey: #999da1;
  --cirdle_dark_grey: #787c7f;
  --cirdle_light_grey: #d9dce3;
  --game-max-width: 500px;
  --header-height: 0px;
  --keyboard-height: 400px;
  --browser_color: #787c7f;
}


html,
body {
  font-family: Helvetica;
  font-weight: bold;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height:100%;
}


#girdleHeader {
  font-family: 'Noto Serif', serif;
  font-size: 37px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  height: 50px;
  color: black;
  border-bottom: 1px solid #d3dbda;
}

#girdleLogoDiv{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#girdleLogoImg {
  display: block;
  height: 65%; 
  width: auto; 
  object-fit: contain;
}

#ui {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


h1{
  text-align: center;
  padding: 0;
  margin: 0;
}

#notifications-div {
  display: block;
  height: 0px;
  padding: 0;
  align-items: center;
  justify-content: center; 
  flex-basis: 0;
}

#notifications {
  text-align: center;
}

#tile-board{
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: visible;
  margin: auto;
  text-align: center;
  padding: 0;
  max-width: 400px;
  flex-shrink: 1;
}

#tile-board-flex-container{
  display: flex;
}

#inner-board{
  margin: auto;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 4px dotted var(--cirdle_grey);
}



.tile {
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  height: 50px;
  width: 50px;
  align-items: center;
  font-size: 32px;
  justify-content: center;
}

.tile-initial {
  background-color: white;
  border: 4px solid var(--cirdle_light_grey);
}

.tile-green {
  color: white;
  background-color: var(--cirdle_green);
}

.tile-yellow {
  color: white;
  background-color: var(--cirdle_yellow);
}

.tile-grey {
  color: white;
  background-color: var(--cirdle_dark_grey);
}


.reset {
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  height: 50px;
  width: 50px;
  align-items: center;
  border: 4px solid var(--cirdle_light_grey);
  font-size: 32px;
  justify-content: center;
}


.tile:nth-child(1) {
  transform:translateY(-69px);
}

.tile:nth-child(2) {
  transform: translateX(69px) translateY(-12px);
}

.tile:nth-child(3) {
  transform: translateX(45px) translateY(60px);
}

.tile:nth-child(4) {
  transform: translateX(-45px) translateY(60px);
}

.tile:nth-child(5) {
  transform: translateX(-69px) translateY(-12px);
}

button.lg {
  flex-grow: 1.5;
}

#backspace {
  font-size: 0.7 rem;
}

#enter-btn {
  font-size: 0.7rem;
}

#visual-keyboard {
  text-align: center;
  padding-left: 3px;
  margin: 0 -6 0 0;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  padding-bottom: 5px
}

#visual-keyboard div {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
  max-width: 400px;
  font-size: 16px;
  flex-grow: 1;
}

#visual-keyboard div.middle{
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0px;
}

div button {
  background-color: var(--cirdle_light_grey);
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: black;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  flex-grow: 1;
}

.shrink{
  -webkit-transform:scale(0.5);
  -moz-transform:scale(0.5);
  -ms-transform:scale(0.5);
  transform:scale(0.5);
}





/* ANIMATIONS & POPUPS  ***************************************/

@keyframes shakeTiles {
  0% {left: calc(50% - 30px);}
  50% {left: calc(50% - 15px);}
  100% {left: calc(50% - 30px);}
}
.tile-shake {
  animation-name: shakeTiles;
  animation-duration: 26ms;
  animation-iteration-count: 5;
}


@keyframes flipTiles {
  0% {
    transform: scaleY(100%);
  }
  50% {
    transform: scaleY(0%);
  }
  100% {
    transform: scaleY(100%);
  }
}

.tile-flip {
  animation-name: flipTiles;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

.popup {
  position: relative;
  top: 0px;
  align-items: center;
  text-align: center;
  justify-content: center;
  

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}

.popup .popuptext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 0 0 6px 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 50%;
  margin-left: -50px;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 0.8 ;}
}


.popup .welcomeTextClass {
  visibility: show;
  width: 300px;
  background-color: white;
  color: black;
  text-align: left;
  border-radius: 0 0 6px 6px;
  padding: 0px 10px 10px 10px;
  position: absolute;
  box-sizing: border-box;
  z-index: 3;
  top: -17px;
  left: 50%;
  margin-left: -150px;
  -webkit-box-shadow:0px 5px 8px 0px rgb(72, 72, 72);
  -moz-box-shadow: 0px 5px 8px 0px rgb(72, 72, 72);
  box-shadow:0px 5px 8px 0px rgb(72, 72, 72);
}

.welcomeTextClass .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}



.nonBold {
  font-weight: normal;
}

.bold{
  font-weight: bold;
}
.green{
  color: var(--cirdle_green);
}
.yellow{
  color: var(--cirdle_yellow);
}
.grey{
  color: var(--cirdle_dark_grey);
}

.close {
  font-size: 25px;
  font-weight: 200;
}

@keyframes jumpForJoy {
  0% {top: 0px}
  100% {top: -10px;}
  /* 100% {top: 0px;} */
}
.joy-jump {
  animation-name: jumpForJoy;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-fill-mode: initial;
}








